<?xml version="1.0" encoding="UTF-8"?>

<openbox_menu>

<menu id="disk-utilities" label="Disk Utilities">
	<item label="Clonezilla">
		<action name="Execute">
			<command>termite -t "Clonezilla" -e &quot;sudo clonezilla&quot;</command>
		</action>
	</item>
	<item label="Disks">
		<action name="Execute">
			<command>gnome-disks</command>
		</action>
	</item>
	<item label="USB Image Writer">
		<action name="Execute">
			<command>mintstick -m iso</command>
		</action>
	</item>
</menu>
<menu id="screenshot" label="Screenshot">
	<item label="Screenshot in 5">
		<action name="Execute">
			<command>scrot -d 5 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
	<item label="Screenshot in 10">
		<action name="Execute">
			<command>scrot -d 10 &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
	<item label="Screenshot With Selection">
		<action name="Execute">
			<command>scrot -s &apos;%Y%m%d-%H%M%S_$wx$h_screenshot.png&apos; -e &apos;mv $f $$(xdg-user-dir PICTURES) ; xviewer $$(xdg-user-dir PICTURES)/$f&apos;</command>
		</action>
	</item>
</menu>
<menu id="preferences" label="Preferences">
	<menu id="appearance-config" label="Customize Look and Feel">
		<item label="Gtk Theme">
			<action name="Execute">
				<command>lxappearance</command>
			</action>
		</item>
		<item label="Gtk3 Theme">
			<action name="Execute">
				<command>xfce4-appearance-settings</command>
			</action>
		</item>
		<item label="Window Manager">
			<action name="Execute">
				<command>obconf</command>
			</action>
		</item>
	</menu>
	<menu id="openbox-config" label="Openbox">
		<item label="GUI Menu Editor">
			<action name="Execute">
				<command>kickshaw</command>
			</action>
		</item>
		<item label="GUI Keybind Editor">
			<action name="Execute">
				<command>obkey</command>
			</action>
		</item>
		<separator/>
		<item label="Edit autostart">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/autostart</command>
			</action>
		</item>
		<item label="Edit menu.xml">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/menu.xml</command>
			</action>
		</item>
		<item label="Edit rc.xml">
			<action name="Execute">
				<command>exo-open ~/.config/openbox/rc.xml</command>
			</action>
		</item>
	</menu>
	<item label="Reconfigure Openbox">
		<action name="Reconfigure"/>
	</item>
	<item label="Restart Openbox">
		<action name="Restart"/>
	</item>
	<separator/>
	<item label="Wallpaper">
		<action name="Execute">
			<command>nitrogen</command>
		</action>
	</item>
	<item label="Rofi Theme">
		<action name="Execute">
			<command>rofi-theme-selector</command>
		</action>
	</item>
</menu>

<menu id="root-menu" label="Openbox 3">
	<separator label="Manjaro Openbox"/>
	<item label="Terminal">
		<action name="Execute">
			<command>alacritty</command>
		</action>
	</item>
	<item label="File Manager">
		<action name="Execute">
			<command>exo-open --launch FileManager</command>
		</action>
	</item>
	<item label="Web Browser">
		<action name="Execute">
			<command>firefox</command>
		</action>
	</item>
	<separator/>
	<menu id="disk-utilities"/>
	<menu id="screenshot"/>
	<separator/>
	<item label="Switch Menu">
		<action name="Execute">
			<command>switchmenu -dynamic</command>
		</action>
	</item>
	<separator/>
	<item label="Lock Screen">
		<action name="Execute">
			<command>i3lock-fancy</command>
		</action>
	</item>
	<item label="Suspend">
		<action name="Execute">
		        <command>systemctl suspend</command>
		</action>
	</item>
	<item label="Hibernate">
		<action name="Execute">
		        <command>systemctl hibernate</command>
		</action>
	</item>
	<item label="Exit Openbox">
		<action name="Execute">
			<command>rofr.sh -l</command>
		</action>
	</item>
</menu>

</openbox_menu>
